:root {

    --pt-primary: #0F6CBD;
    --pt-secondary: #14B8A6;

    --pt-success: #22C55E;
    --pt-warning: #F59E0B;
    --pt-danger: #EF4444;

    --pt-background: #F5F7FA;

    --pt-card-bg: #FFFFFF;

    --pt-border: #E5E7EB;

    --pt-text: #111827;
    --pt-text-muted: #6B7280;

    --pt-shadow:
        0 4px 12px rgba(0,0,0,.06);

}